footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: 'DM Sans', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    width: 25%; 
    min-width: 200px; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
}

.footer-section h3 {
    font-size: 18px;
    color: #FFD700;
    margin-bottom: 15px;
    text-align: left; 
    margin-left: 10px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffa500;
}

.social-icons {
    display: flex;           
    gap: 20px;              
    justify-content: center; 
    margin-top: 10px;
}

.social-icons a {
    display: inline-block; 
}

.social-icons img {
    width: 32px;         
    height: 32px;           
    filter: brightness(2) invert(1); 
    transition: transform 0.3s; 
}

.social-icons img:hover {
    transform: scale(1.1);  
    filter: brightness(1); 
    border-radius: 10px;   
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .footer-section {
        width: 100%;
        max-width: 400px; 
        margin-bottom: 20px; 
    }
}